[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
cymysql = "*"
wtforms = {extras = ["email"],version = "*"}
flask-httpauth = "*"

[requires]
python_version = "3.6"
