.App {
  padding: 20px;
  box-sizing: border-box;
}
.border {
  border: 1px solid red;
  padding: 10px;
}

.dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 30px;
  width: 400px;
  height: 300px;
  transform: translate(50%, 50%);
  border: solid 1px gray;
  text-align: center; }