.card {
    figure {
        width: 300px;
        height: 300px;
    }
    .card-front {
        background: red
    }
    .card-back {
        background: blue;
    }
    /* 翻牌动作 */
    .card.flipped {
        transform: rotateY( 180deg );
  }
}